<div class="card-body p-5">
    <p id="info" class="alert alert-info shadow-sm">
        <strong>Instrucciones:</strong> Los campos marcados con <span class="text-danger fw-bold">*</span> son obligatorios. Asegúrese de que los datos coincidan con los documentos de identidad.
    </p>

    <div id="secciones-root" class="fade show">

    </div>
    <div id="botonera" class="d-flex flex-column flex-md-row gap-3 justify-content-center mt-5">
        <button type="button" id="btn-atras" class="btn btn-primary btn-lg px-5 py-3 fw-bold shadow-sm border-0">
            Atras
        </button>
        <button type="button" id="btn-reset" form="formulario-inscripcion"  class="btn btn-light btn-lg px-5 py-3 fw-bold shadow-sm border-0">
            Limpiar
        </button>
        <button type="button" id="btn-siguiente" class="btn btn-primary btn-lg px-5 py-3 fw-bold shadow-sm border-0">
            Siguiente
        </button>
    </div>
</div>

